*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}
p {
    font-size: 20px;
    font-weight: bold;
}
.inputContainer {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.calcContainer {
    margin-top: 20px;
}
#answer {
    margin-top: 10px;
    font-weight: bold;
}
/* body {
    background-color: black;
    display: flex;
    justify-content: center;
}
p {
    padding: 5px; */
    /* justify-content: center; */
/* }
.container {
    margin-top: 15%;
    border: 1px solid red;
    border-radius: 10px;
    color: black;
    background-color: gray;
    padding: 20px;
}
.inputContainer { */
    /* background-color: transparent; */
    /* box-shadow: darkred; */
/* }
#weight {
    color: white;
    background-color: darkred;
    padding: 3px;
    border: 1px solid red;
    margin: 2px;
}

#height {
    color: white;
    background-color: darkred;
    padding: 3px;
    border: 1px solid red;
    margin: 2px;
}
#calculateBtn {
    color: darkred;
    background-color: gray;
    padding: 5px;
    border: 1px solid darkred;
    margin: 2px;
}
#placeHolder {
    background-color: transparent;
    border: 2px dotted;
    box-shadow: darkred;
} */